<a href="" ng-click="listarUsuarios()">{{saludo}}</a>
<ul class="list mt+">
    <li class="list-row list-row--has-separator">
        <div class="list-row__primary">
            <img src="/images/placeholder/1-square.jpg" width="40" height="40" class="img-round">
        </div>

        <div class="list-row__content">
            <span>Single-line item</span>
        </div>

        <div class="list-row__secondary">
            <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
        </div>
    </li>
    <li class="list-row list-row--has-separator">
        <div class="list-row__primary">
            <img src="/images/placeholder/2-square.jpg" width="40" height="40" class="img-round">
        </div>

        <div class="list-row__content">
            <span>Single-line item</span>
        </div>

        <div class="list-row__secondary">
            <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
        </div>
    </li>
    <li class="list-row list-row--has-separator">
        <div class="list-row__primary">
            <img src="/images/placeholder/3-square.jpg" width="40" height="40" class="img-round">
        </div>

        <div class="list-row__content">
            <span>Single-line item</span>
        </div>

        <div class="list-row__secondary">
            <i class="icon icon--xs icon--grey icon--flat mdi mdi-information"></i>
        </div>
    </li>
</ul>